.cabecalho__menu__hamburguer{
    width: 1.5em;
    height: 1.5em;
    background-image: url(../img/Menu.svg);
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
}
.cabecalho{
    background-color: var(--cor-secundaria);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.container{
    display: flex;
    align-items: center;
}
.container__imagem{
    padding: 1em;
}
.lista__menu{
    display: none;
    position: absolute;
    top: 100%;
    width: 60vw;
}
.container__botao:checked~.lista__menu{
    display: block;
}
.container__botao{
    display: none;
}
.lista-menu__titulo,.lista-menu__item{
    padding: 2em;
    background-color: var(--cor-secundaria);
}
.lista-menu__titulo{
    color:var(--destaque);
    font-weight: 700;
}
.lista-menu__link{
    text-decoration: none;
    background: var(--cor-terciaria);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform:uppercase;
}